<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunma">

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <uses-permission android:name="android.permission.Gra" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <permission
        android:name="com.yunma.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yunma.permission.C2D_MESSAGE" />

    <application
        android:name=".jhuo.general.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 闪屏页/启动页 -->
        <activity
            android:name=".jhuo.general.SplashPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yunmasports.com"
                    android:scheme="yunma" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.yunma.widget.GlideConfiguration"
            android:value="GlideModule" />

        <!-- 百度地图配置 -->
        <!--
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ExEGNet8FRXCETwmWaGv97ZlAogB4ADD" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        -->


        <!-- 高德地图（公司帐号） -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f9d09b21e6eeefeb72f08118ae1db228" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="beilysport#jhuo" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yunma.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx129574b4dc257e3d" />
            </intent-filter>
        </activity>

        <!-- ****************************  Share SDK  *********************************** -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106058796" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jhuo.general.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 图片选择 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- 声明SDK所需的service SDK核心功能 -->
        <!--
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            &lt;!&ndash; 可选filter &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58e5adc18f4a9d0301000b24" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="b494043ab009b8480e4e5d9164a0ab51" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="J货" />

        <activity
            android:name=".jhuo.general.ForgetPassWdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".jhuo.general.RegisterAccount"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".jhuo.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.SpecialPriceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.GoodsDetialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.ConfirmOrderForMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.ReceiverManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.AddRecipientActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.GoodsManifestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.SelectAddress"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.homepage.SelectedPayWay"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxd930ea5d5a258f4f" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jhuo.activity.homepage.CompletedPayMent"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.OrderDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.SearchGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.MyOrderManage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.ReturnGoodsManage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.ReturnDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.ReturnProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.ToWriteExpress"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.OrderTraceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.ApplySingleAfterSalesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.mine.ApplyAfterSalesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.mine.QuickReplenishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.MyFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.mine.RecipientManagement"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.SaleRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.ToGetInvoice"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.SystemNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.SystemSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.SimilarGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.SystemNoticeDatial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.PersonInfosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jhuo.activity.mine.ChangePasswdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.InvoiceInfosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.MyPopupWindow"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.homepage.AddToCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.homepage.SizeSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.LookOrderDetial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.PicViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.homepage.KindredGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.RefundMoreGoods"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.InvoiceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.mine.AddInvoicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.mine.InvoiceDetialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.SelectTickets"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.TomorrowPreSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.TomorrowPreSaleDetials"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.general.DialogStyleLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".jhuo.general.PopWindowsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.SelectVolumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.ChooseSizeNumsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.general.AddCartsRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.homepage.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.homepage.ConfirmOrderForOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".jhuo.activity.GoodsSortsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".jhuo.activity.NewBasketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.SaleOutDetialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.VolumeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.NewGoodRemindDetials"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.homepage.BrowerRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.NewVersionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.FeatureGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.TomorrowPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.TodayOnSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.TomorrowPreDetials"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.BannerGoodsDetial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.AdInfosDetialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.IntroCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.MyContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.MyIntegralActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.IntegralRuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".jhuo.activity.IntegralCalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.IntegralHintActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.HomePageModelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.SelectBrandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.SelectSizeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.mine.OperationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.mine.OperationDetialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.DistributedAfterSaleInfo"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.NearByUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.ShareGoodsInfo"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.mine.AddressManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.GainIntegralActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.UseIntegralActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.MyGradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.KnowMoreGradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.ConfirmGradeOrder"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.MyReturnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.RebatesReturnDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.InvitedUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.ShortVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".jhuo.activity.GoodsShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" ></activity>
    </application>

</manifest>